<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>


    </head>
    <body>
        <section>
            <div class = "image">
                <!-- image here -->
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>

                <p>This Web-App provides a wide range of predicting the contamination multiple infectious diseases like Kidney disease, Diabetes, Liver Infection, Heart Disease & Breast Cancer.</p>
                <p>We have used light ML model that can load within no time without compromising on the accuracy of the prediction. Light models quickly load which helps in better response of the page.</p>
                <p>Though this app provides a wide range and high speed the accuracy has not been compromised. Hyper-parameters have been selected very carefully so that the accuracy is not hampered.</p>
                <ul class = "links">
                    <li><a href = "#">Wide Range</a></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "#">Quick Prediction</a></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "#">Highly Accurate</a></li>
                </ul>

                <br>
                <p style="font-family:Cursive ;color : crimson ;font-size:13px">Created By | @er_vishuu_vi__jaya |  2020 All rights reserved.</p>

            </div>
        </section>

    </body>
</html>