<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liver Disease Prediction </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{url_for('static',filename='material-design-iconic-font.min.css')}}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static',filename='liver.css')}}">


</head>
<body>

</div>>
    <div class="main">
        <div class="container">
            <h2 style="font-family:Cursive ; color:#990000; margin-left : 20px" ><a href="/">Home</a></h2>
            <div class="signup-content">
                <div class="signup-img">

                    <img src="static/liver.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form action="/liver" method="POST" class="register-form" id="register-form">
                        {% if data : %}
                        <h2 style="color:{{data[1]}}">
                        {{data[0]}}
                        </h2>
                        {% endif %}

                        <h2 style="font-family:Cursive ; color:#990000">liver Disease Prediction : </h2>



                            <div class="form-group" >
                                <label style="font-family:Cursive" for="Age">Age :</label>
                                <input type="number" step="any" min="1" max="150" name="Age" id="Age" required/>
                            </div>


                         <div class="form-group">
                                <label for="Gender" style="font-family:Cursive">Gender :</label>
                                <div class="form-select">
                                    <select name="Gender" id="Gender" style="font-family:Cursive">
                                        <option value=1>Male</option>
                                        <option value=0>Female</option>
                                        <option value=0>Transgender</option>

                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>


                        <div class="form-group">
                            <label for="total_bilirubin" style="font-family:Cursive">Total Bilirubin :</label>
                            <input type="number"  step="any" min="0" max="150" name="total_bilirubin" id="total_bilirubin" required/>
                        </div>


                        <div class="form-group">
                            <label for="direct_bilirubin" style="font-family:Cursive">Direct Bilirubin :</label>
                            <input type="number"  step="0.00001" min="0.00000" max="30.00000" name="direct_bilirubin" id="direct_bilirubin" required/>
                        </div>


                        <div class="form-group">
                            <label for="Alkaline_Phosphotase" style="font-family:Cursive">Alkaline Phosphotase :</label>
                            <input type="number"  step="any" min="10.0000" max="600.0000" name="Alkaline_Phosphotase" id="Alkaline_Phosphotase" required/>
                        </div>



                        <div class="form-group">
                            <label for="Alamine_Aminotransferase" style="font-family:Cursive">Alamine Aminotransferase :</label>
                            <input type="number"  step="any" min="5.0000" max="200.0000" name="Alamine_Aminotransferase" id="Alamine_Aminotransferase" required/>
                        </div>




                        <div class="form-group">
                            <label for="Aspartate_Aminotransferase" style="font-family:Cursive">Aspartate Aminotransferase :</label>
                            <input type="number"  step="any" min="5.0000" max="200.0000" name="Aspartate_Aminotransferase" id="Aspartate_Aminotransferase" required/>
                        </div>




                        <div class="form-group">
                            <label for="Total_Protiens" style="font-family:Cursive"> Total Protiens :</label>
                            <input type="number"  step="any" min="0.00000" max="20.00000" name="Total_Protiens" id="Total_Protiens" required/>
                        </div>



                        <div class="form-group">
                            <label for="Albumin" style="font-family:Cursive"> Albumin :</label>
                            <input type="number"  step="any" min="0.00000" max="10.00000" name="Albumin" id="Albumin" required/>
                        </div>



                        <div class="form-group">
                            <label for="Albumin_globulin_ratio" style="font-family:Cursive"> Albumin and globulin ratio :</label>
                            <input type="number"  step="any" min="0.00000" max="10.00000" name="Albumin_globulin_ratio" id="Albumin_globulin_ratio" required/>
                        </div>




                        <div class="form-submit" >
                            <input style="font-family:Cursive" type="reset" value="Reset All" class="submit" name="reset" id="reset" />
                            <input style="font-family:Cursive" type="submit" value="Predict" class="submit" name="submit" id="submit" />
                        </div>

                                                           <br>
                            <footer>
                                <span style="font-family:Cursive">Created By | <span style="color : crimson">@er_vishuu_vi__jaya </span>|  2020 All rights reserved.</span>
                            </footer>




                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="static/liver.js"></script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>